.container {
  height: 390px;
  width: 298px;
  background-color: lightgray;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

#display {
  width: 275px;
  height: 70px;
  display: flex;
  align-self: center;
  border: 0;
  padding-left: 10px;
}

#displayAnswer {
  width: 277px;
  height: 35px;
  border-top: 1px solid black;
  display: flex;
  align-self: center;
  background-color: white;
  margin-bottom: 25px;
  justify-content: flex-end;
  padding-right: 10px;
}

button {
  padding: 20px;
  width: 50px;
  margin: 2px;
}

.allButtons {
  display: flex;
  flex-direction: row;
  margin: 0 5px 0 5px;
  justify-content: space-between;
}

#numbers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 420px;
  height: 250px;
  margin-right: 10px;
}

.allOperators {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 290px;
  height: 250px;
}

#equalsBtn {
  display: flex;
  flex: 1;
  padding-left: 50px;
}

#zeroBtn {
  display: flex;
  flex: 1;
  padding-left: 48px;
}

#backBtn {
  /*fix this*/
  font-weight: bolder;
}