body {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container {
  height: 380px;
  width: 298px;
  background-color: rgb(39, 40, 43);
  padding: 12px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

#display {
  width: 275px;
  height: 65px;
  display: flex;
  align-self: center;
  border: 0;
  padding-left: 10px;
  font-size: 28px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 3px;
}

#displayAnswer {
  width: 277px;
  height: 35px;
  /*border-top: 1px solid black;*/
  display: flex;
  align-self: center;
  background-color: white;
  margin-bottom: 20px;
  justify-content: flex-end;
  padding-right: 10px;
  font-size: 32px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

button {
  padding: 10px;
  width: 50px;
  height: 60px;
  margin: 2px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}

button:hover {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.4) 00);*/
  filter: brightness(0.9);
}

.allButtons {
  display: flex;
  flex-direction: row;
  margin: 0 5px 0 5px;
  justify-content: space-between;
}


#numbers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 420px;
  height: 250px;
  margin-right: 10px;
}

.number {
  background-color: rgb(236, 236, 236);
}

.allOperators {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 290px;
  height: 250px;
}

.operator {
  background-color: rgb(187, 196, 250);
}

#equalsBtn {
  display: flex;
  flex: 1;
  padding-left: 50px;
  align-items: center;
  background-color: rgb(184, 202, 184);
}

#zeroBtn {
  display: flex;
  flex: 1;
  padding-left: 45px;
  align-items: center;
  margin-right: 4px;
}

#backBtn {
  /*fix this*/
  font-size: 28px;
  margin-right: 6px;
  padding-bottom: 15px;
}

#backBtn, #clearBtn {
  background-color: rgb(247, 218, 166);
}